* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.line {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  /* padding: 0px 115px; */
}

.nav {
  display: flex;
  justify-content: space-around;

}

.line .nav .nav-list {
  padding: 23px 25px;
  font-family: sans-serif;
  font-size: 14px;
  /* padding: 27px 35px; */
}

.batch {
  border-radius: 60px;
  background-color: sandybrown;
  padding: 5px 13px;
  color: white;
  font-weight: 600;
}

.cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px; */
  padding: 15px 130px;
}

.cont .contImg {
  /* background-color: #f5b50a; */
  /* padding: 0px; */
  width: 180px;
  height: 50px;
  margin-bottom: 10px;
  background-image: url("../src/assets/Mani shop/mani-textile-logo-C.png");
  background-size: cover;
}

.nav .nav-list {
  /* border: 2px solid black; */
  padding: 20px 18px;
  font-size: 15px;
  font-weight: bold;
  /* font-weight: 200; */
}

.nav .nav-list:hover {
  background-color: aliceblue;
  color: black;
}

.btn {
  /* padding: 10px;
  border-radius: 30px;
  margin-left: 20px; */
}


.nav-list span {
  color: rgb(195, 188, 188);
}

/* ----------------------BODY-------------------------- */
.container-fluidd {
  height: 130vh;
}

.body {
  background-image: url('../src/assets/Mani shop/backgroundCopy.jpg');
  /* opacity: .8; */
  /* background-repeat: no-repeat; */
  /* background-position: cover; */
  background-size: cover;
  height: 100%;
  /* width: ; */
  /* margin-left: -20%; */
  /* width: 1737px; */
}

.imgHover {
  border-radius: 5px;
  height: 500px;
  padding: 0px 20px;
  /* border: 2px solid; */
}

.imgHover:hoer {
  margin-top: 10px;
  /* transform: scale(1.1); */
  background-color: aqua;
}

.imgHover h6 {
  font-weight: bold;
}

.imgHover p {
  font-size: smaller;
}

.colors {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.colors h5 {
  font-size: medium;
  font-weight: bold;
}

.imgBox {
  margin: 10% auto 7%;
  align-content: center;
  height: 300px;
  width: 250px;
  /* background-color: antiquewhite; */
  border-radius: 5px;
}

.imgBox1 {
  /* background-color: #f5b50a; */
  height: 240px;
  width: 200px;
  background-image: url("../src/assets/Mani shop/pinkchettinad.png");
  background-size: contain;
  /* margin: 10% 20% 0%;
  align-content: center;
  height: 300px;
  width: 250px;
  background-color: antiquewhite;
  border-radius: 5px; */
}

.imgBox2 {
  height: 240px;
  width: 200px;

  background-image: url("../src/assets/Mani shop/brownMaterial.png");
  background-size: contain;
  /* margin: 10% 20% 0%;
  align-content: center;
  height: 300px;
  width: 250px;
  background-color: antiquewhite;
  border-radius: 5px; */
}

.imgBox3 {
  height: 240px;
  width: 200px;

  background-image: url("../src/assets/Mani shop/cutKurti.png");
  background-size: contain;
  /* margin: 10% 20% 0%;
  align-content: center;
  height: 300px;
  width: 250px;
  background-color: antiquewhite;
  border-radius: 5px; */
}

.imgBox4 {
  background-image: url("../src/assets/Mani shop/floor lenght top.png");
  background-size: contain;
  height: 240px;
  width: 200px;
  /* margin: 10% 20% 0%;
  align-content: center;
  height: 300px;
  width: 250px;
  background-color: antiquewhite;
  border-radius: 5px; */
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  line-height: 1px;
  height: 70px;
  /* padding:auto; */
  /* margin: auto; */
  border: 1px solid silver;
  border-radius: 100px;
}

.addToCart {
  background-color: black;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  font-size: larger;
  width: 200px;
}

.learnMore {
  background-color: orange;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 25px;
  color: white;
  /* font-weight: 600; */
  border: none;
  font-size: larger;
  /* width: 200px; */
}

.discount {
  /* height: 640px; */
}

.discount h6 {
  font-size: small;
}

.discount h1 {
  font-weight: 750;
  font-size: 2.1rem;
}

.navTags {
  display: flex;
  /* flex-direction:column; */
  align-items: center;
  justify-content: start;
  /* text-align: start; */
  /* gap: 5px; */
  text-align: center;
  /* flex-wrap: nowrap; */
}

.copy {
  display: flex;
  width: 88%;
  margin: auto;
}

.copy .reserve {
  color: gray;
  font-size: 0.9rem;
}

.copy .icons {
  color: grey;
  font-size: 0.9rem;
}

.icons {
  display: flex;
  justify-content: end;
  gap: 20px;
  /* text-decoration-line: none; */

}

.icons li {
  text-decoration: none;
}

.icons .fa {
  font-size: larger;
}

.span {
  color: orange;
}

.luxury {
  /* height: 95vh; */
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.samudrika {
  /* width: 600px;
  height: 600px; */
  position: relative;
}


.samudrika .samudrikaImg {
  width: 585px;
  height: 512px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-image: url("../src/assets/Mani shop/samu.jpeg");
  background-size: cover;
}

.samudrikaContent {
  padding: 20px;
  color: white;
  position: absolute;
  bottom: 0px;
  /* left: -5px; */
}

.samudrikaContent h6 {
  font-size: smaller;
}

.samudrikaContent h5 {
  font-weight: 700;
  /* font-size: smaller; */
}

.samudrikaContent h5 span {
  font-size: large;
  color: orange;
}

.samudrikaContent p {
  font-size: smaller;
}

.silkDiv {
  display: flex;
}

.silk .silkImg1 {
  height: 350px;
  width: 100%;
  /* margin: 0% 10%; */
  background-image: url("../src/assets/Mani shop/elite1.png");
  background-size: contain;
}

.silk .silkImg2 {
  height: 350px;
  width: 100%;
  background-image: url("../src/assets/Mani shop/parampara1.png");
  background-size: contain;
}

/* .silkDiv {
  display: flex;
  height: 512px;
  margin-right: -60px;
  justify-content: end;
  width: 350px;
}

.silk {
  width: 150px;
  height: 620px;
  margin-left: 10px;
  background-color: bisque;
}

.silk .silkImg1 {
  height: 350px;
  width: 100%;
  margin: 0% 10%;
  background-image: url("../src/assets/Mani shop/elite1.png");
  background-size: cover;
}

.silk .silkImg2 {
  height: 350px;
  width: 100%;
  background-image: url("../src/assets/Mani shop/parampara1.png");
  background-size: cover;
}

.silk p {
  margin: auto;
  font-size: smaller;
  color: grey;
  width: 200px;

} */

.silk h5 {
  font-size: medium;
  font-weight: 500;
}

.silk h6 {
  font-weight: 400;
}

.silk button {
  margin-bottom: 1px;
}

.childImg {
  border-radius: 50px;
  padding: 20px 40px;
  width: 50%;
  /* background-color: blue; */
}

.modern {
  background-image: url('../src/assets/Mani shop/background-BaYQceuH.jpg');
  background-repeat: repeat;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 700px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.modernColl {
  justify-content: space-between;
  align-items: center;
}

.copy1 {
  width: 85%;
  margin: auto;
}

.mod {
  height: 500px;
  /* margin: 20px 0px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.collection h1 {
  font-size: 2.7rem;
  font-weight: 700;
}

.collection h6 {
  font-size: small;
  color: silver;
}

.collection h5 {
  font-size: large;
  /* color: silver; */
}

.collection .dis {
  font-size: 1rem;
  color: rgb(232, 227, 220);
  /* font-weight: 600; */
}

.collection .modernButtons .learnMoremodern {
  padding: 13px 40px;
  border-radius: 30px;
  margin-right: 25px;
  color: white;
  /* font-weight: 600; */
  border: none;
  font-size: medium;
  /* width: 200px; */
}

.paradiv p {
  font-size: medium;
  color: rgb(232, 227, 220);
}

.modernKids {
  /* display: flex;
  justify-content: center; */
  height: 480px;
  width: 395px;
  /* background-color: #f5b50a; */
  background-image: url(".././src/assets/Mani shop/kutchild.png");
  background-size: contain;
}



.modernChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.modernChild .modernChildImg {
  width: 30%;
  height: 12%;
  border: 3px solid white;
  background-image: url(".././src/assets/Mani shop/kutchild.png");
  background-size: cover;
  padding: 28px;

  border-radius: 50px;
}

.grey {
  color: grey;
}


.cart h6:nth-of-type(1) {
  color: greenyellow;
}

.cart h6 {
  font-size: smaller;
}

.cart h5 {
  font-size: medium;
}

.img1 {
  /* background-color: black; */
  height: 120px;
  width: 100px;
  /* display: flex; */
  /* justify-content: center; */
  background-image: url("../src/assets/Mani shop/kanchipuram.png");
  background-size: cover;
  /* display: none; */
}

.img2 {
  height: 120px;
  width: 100px;
  /* background-image: url("../src/assets/Mani shop/kanchipuram.png");
  background-size: cover; */
  background-image: url("../src/assets/Mani shop/froks1.png");
  background-size: cover;
}

.img3 {
  background-image: url("../src/assets/Mani shop/kuta1.png");
  background-size: cover;
  height: 120px;
  width: 100px;
}

.img4 {
  background-image: url("../src/assets/Mani shop/ethinic1.png");
  background-size: cover;
  height: 120px;
  width: 100px;
}

.img5 {
  background-image: url("../src/assets/Mani shop/anarkali1.png");
  background-size: cover;
  height: 120px;
  background-color: #f5b50a;
  width: 100px;
}

.img6 {
  background-image: url("../src/assets/Mani shop/blouses1.png");
  background-size: cover;
  height: 120px;
  width: 100px;
}

.img7 {
  background-image: url("../src/assets/Mani shop/andra1.png");
  background-size: cover;
  height: 120px;
  width: 100px;
}

.img8 {
  background-image: url("../src/assets/Mani shop/combo1.png");
  background-size: cover;
  /* height: 160px;
  width: 125px; */
  height: 120px;
  width: 100px;
}

.img9 {
  background-image: url("../src/assets/Mani shop/butter1.png");
  background-size: cover;
  /* height: 160px;
  width: 125px; */
  height: 120px;
  width: 100px;
}

.img10 {
  background-image: url("../src/assets/Mani shop/banaras1.png");
  background-size: cover;
  /* height: 160px;
  width: 125px; */
  height: 120px;
  width: 100px;
}

.img11 {
  background-image: url("../src/assets/Mani shop/jacquard1.png");
  background-size: cover;
  /* height: 160px;
  width: 125px; */
  height: 120px;
  width: 100px;
}

.img12 {
  background-image: url("../src/assets/Mani shop/parampara1.png");
  background-size: cover;
  /* height: 160px;
  width: 125px; */
  height: 120px;
  width: 100px;
}

.fastCart {
  display: flex;
  width: 85%;
  margin: auto;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center; */
  /* border: 1px solid; */
}

.fastCart .cart {
  display: flex;
  flex-direction: column;
  /* justi/fy-content: center; */
  align-items: center;
  padding: 0px 10px;
  height: 260px;
}

.cart h5 {
  color: orange;
}

.fastCart .cart2 {
  border-bottom: 1px solid silver;
}

.fastCart .cart3 {
  /* border-right: 1px solid silver; */
  position: relative;
}

.cart3::after {
  content: '';
  width: 1px;
  height: 88%;
  position: absolute;
  background-color: silver;
  top: 10px;
  margin-left: 10px;
  right: 0;
}

.fastCart .cart1 {
  /* border-right: 1px solid silver; */
  border-bottom: 1px solid silver;
  position: relative;
  /* display: inline; */
}

/* .cartSide {
    position: relative;
    display: inline;
   

  } */

.cart1::after {
  content: "";
  width: 1px;
  height: 88%;
  position: absolute;
  background-color: silver;
  top: 20px;
  margin-left: 10px;
  right: 0;

}

.special {
  width: 90%;
  display: flex;
  align-items: center;
  /* gap: 100px; */
  justify-content: space-around;
}

.specialImage {
  height: 500px;
  width: 400px;
  border-radius: 10px;
  background-image: url(".././src/assets/Mani shop/specialOffer.jpeg");
  background-size: cover;
  border: none;
  /* overflow: hidden; */
  background-color: cadetblue;
}

.specialImage img {
  /* height: 600px;
  width: 480px; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  /* transition: 1s ease; */
  /* position: absolute; */
}

/* .specialImage:hover img{
  transform: scale(1.15 );  */

/* filter: blur(5px); */
/* } */
/* .overlay{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
} */
.specialImage:hover .overlay {
  opacity: 1;
}


.specialContent {
  /* margin-left: 200px; */
}

.specialContent h3 {
  font-weight: 700;
  font-size: 1.8rem;
}

.specialContent h6 {
  /* background-color: ; */
  font-size: smaller;
  color: rgb(215, 170, 72);
}

.specialContent p {
  font-size: smaller;
}

.tags {
  background-color: rgb(74, 69, 69);
  padding: 5px 10px;
  font-size: smaller;
  /* color: silver; */
  border-radius: 20px;
}

.tags:hover {
  background-color: #f5b50a;
}

.reserve {
  color: gray;
}

.moreLinks {
  color: silver;
}

.mail {
  display: inline-flex;
  height: 90px;
  /* padding: 10px 20px; */
  /* border: 1px solid; */
  border-radius: 30px;
}

.mail input {
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  font-size: large;
  padding: 0px 35px;
}

.mail button {
  font-size: larger;
  font-weight: 700;
  color: white;
  background-color: rgb(204, 159, 63);
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border: none;
  margin: 0px;
  padding: 0px 30px;
}

.saree {
  padding: 20px;
}

.saree img {
  margin: 10px;
}

.saree h6 {
  color: sandybrown;
}

.saree p {
  font-size: medium;
}

.saree span {
  font-size: larger;
  font-weight: 700;
}

.category h6 {
  letter-spacing: 3px;
  /* color: olivedrab; */
}

.category h1 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 2px;
}

.title {
  font-weight: 900;
  font-size: 5rem;

  /* letter-spacing: 2px; */
}

.all {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  border-right: 3px solid black;
  /* height: 20px; */
}

.round {

  /* background-color: yellow; */
  border-radius: 30px;
}

.disContainer {
  width: 92%;
  margin: auto;
}

.discountBody {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 800px; */
  margin-top: 5%;
}

.discountImg .discountImg1 {
  /* margin-top: 15%; */
  /* background-image: url("../src/assets/Mani shop/discount.png");
  background-size: cover; */
  position: absolute;
  width: 600px;
  border-radius: 10px;
  height: 490px;
}

.discountImg .discountImage {
  position: relative;
  left: 62%;
  bottom: 45px;
  /* top: 10; */
  width: 400px;
  height: 550px;
  /* background-image: url("../src/assets/Mani shop/discount1.png");
  background-size: contain; */
}

.discountCon {
  margin-left: 60px;
}

.discountCon h5 {
  font-size: medium;
}

.discountCon h5 span {
  color: rgb(215, 170, 72);
}

.discountCon p {
  font-size: smaller;

  /* color: silv; */
}

.discountCon .para {
  font-size: smaller;
  /* font-weight: 00; */
  width: 350px;
  /* color: silv; */
}

.addToCartDiscount {
  background-color: black;
  padding: 7px 20px;
  color: white;
  border-radius: 10px;
  /* font-weight: 600; */
  border: none;
  font-size: medium;
  /* width: 200px; */
}

.learnMoreDiscount {
  background-color: rgb(215, 170, 72);
  padding: 7px 20px;
  border-radius: 30px;
  margin-right: 25px;
  color: white;
  /* font-weight: 600; */
  border: none;
  font-size: medium;
  /* width: 200px; */
}

.headerImg {
  background-image: url("../src/assets/Mani shop/header1.png");
  /* width: 1000px; */
  height: 780px;
  background-size: cover;
}

.headerImg .headImg1 {
  width: 1000px;
}

.bodyContent {
  /* padding-left: 100px; */
}

.bodyContent .borderSilk {
  font-size: 3.7rem;
  font-weight: 700;
  line-height: 80px;
  border-bottom: 2px solid white;
}

.bodyContent h6 {
  color: rgb(199, 195, 195);
}

.bodyContent p {
  font-size: large;
}

.bodyContainer {

  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: blue; */
  margin: auto;
}

hr {
  height: 3px;
  width: 4%;
  /* padding: 4px green; */
  margin: auto;
  background-color: rgb(204, 159, 63);
  /* background-color: green; */

}

.aboveSilk {
  font-size: medium;
  display: flex;
  gap: 10px;
  color: rgb(199, 195, 195);
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
}

.silkBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.silkBtn h2 {
  font-size: 1.3rem;
  font-weight: 700;
  color: rgb(199, 195, 195);
}

.silkBtn button {
  margin-left: 15px;
  padding: 15px 35px;
  border: none;
  /* font-weight: 500; */
  /* width: 200px; */
  border-radius: 60px;
}

.star {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  height: 15px;
  width: 15px;
  margin: 5px;
  border-radius: 2px;
}

.box1 {
  border-radius: 10px;
  padding: 10px;
  width: 130%;
}

.box:nth-of-type(1) {
  background-color: red;
}

.box:nth-of-type(2) {
  background-color: brown;
}

.box:nth-of-type(3) {
  background-color: green;
}

.box:nth-of-type(4) {
  background-color: yellow;
}


/* .boxes:nth-t */
.round {
  /* background-color: blue; */
}

.round::before {
  content: '';
  border-radius: 40px;
  background-color: yellowgreen;
}

.round::after {
  content: '';
  padding: 10px;
  height: 1px;
  /* background-color: silver; */
  border-right: 2px solid silver;
  /* border-right-style: dashed; */
}

.kurti {
  height: 15px;
  width: 15px;
  margin: 5px;
  border-radius: 2px;
}

.kurti:nth-of-type(1) {
  background-color: green;
}

.kurti:nth-of-type(2) {
  background-color: white;
}

.kurti:nth-of-type(3) {
  background-color: yellow;
}

.kurti:nth-of-type(4) {
  background-color: red;
}

.suits {
  height: 15px;
  width: 15px;
  /* font-size: smaller; */
  /* padding: 5px 10px; */
  margin: 5px;
  border-radius: 2px;
}

.suits:nth-of-type(1) {
  background-color: yellow;
}

.suits:nth-of-type(2) {
  background-color: blue;
}

.suits:nth-of-type(3) {
  background-color: red;
}

.cotton {
  height: 15px;
  width: 15px;
  /* padding: 10px; */
  margin: 5px;
  border-radius: 2px;
}

.cotton:nth-of-type(1) {
  background-color: red;
}

.cotton:nth-of-type(2) {
  background-color: blue;
}

.cotton:nth-of-type(3) {
  background-color: green;
}

.bi-star {
  padding: 0px;
  font-size: x-small;
  font-weight: 100;

}

.headImg {
  background-image: url("../src/assets/Mani shop/header1.png");
}

.bodyImages {
  display: flex;

}

.quick {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* justify-content: start; */
}

.quick .tag {
  color: silver;
  padding: 5px;
  font-size: 0.9rem;
}

.posts h5 {
  font-size: medium;
  color: gray;
}

.posts p {
  /* color: silver; */
  font-size: smaller;
}

.welcome {
  color: silver;
}

.welcome {
  font-size: 0.9rem;

}

.welcomeDiv {
  display: flex;
  /* justify-content: center; */
}

.welcomeDiv p {
  font-size: 0.8rem;
  font-weight: 600;
}

.quickAmoreLinks {
  display: flex;
  justify-content: center;
}

#menu-open-button {
  display: none;
}

.stars li i {
  color: #f5b50a;
  /* gold */
  font-size: 11px;
  margin: 0 2px;
}

.star h5 {
  font-size: medium;
}

a {
  text-decoration: none;
  color: silver;
  padding: 5px;
}

.tag a:active {
  background-color: #f5b50a;
  color: black;
}

.tag a:hover {
  background-color: #f5b50a;
  color: black;
  /* color: silver; */
  border-radius: 20px;
}

/* Media query Mobile resolution */
@media screen and (max-width:767px) {
  /* @media screen and (max-width:600px) { */

  .footer .copy {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: start;
    /* justify-content: center; */
    /* text-align: center; */
  }

  .welcome {
    width: 100%;
  }

  .welcome .welcomeDiv {
    width: 100%;
  }

  .quickAmoreLinks {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .special {

    display: flex;
    flex-direction: column;
    /* margin-left: 0px; */
    text-align: center;
  }

  .special .specialImage {
    height: 370px;
    width: 300px;
    background-size: contain;
  }

  .special .specialContent {
    /* margin-left: 100px; */
    margin: auto;
  }

  .mail {
    display: flex;
    height: 150px;
    gap: 20px;
    flex-direction: column;
  }

  .mail button {
    border-radius: 50px;
    padding: 10px 40px;
  }

  .mail input {
    border-radius: 50px;
    padding: 10px 30px;

  }


  /* -------------------------Modern collection------------------------- */
  .modern {
    background-image: url('../src/assets/Mani shop/background-BaYQceuH.jpg');
    background-repeat: round;
    height: 1000px;
    /* height: 700px;
  display: flex;
  justify-content: center;
  align-items: center; */
  }

  .mod {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .mod .modernColl {

    display: flex;
    justify-content: center;
    /* margin: 20px; */
    /* gap: 30px; */
    /* align-items: start; */
    width: 100%;
    padding: 20px;
    height: 300px;
  }

  .modernKids {
    /* margin: auto; */
    height: 280px;
    width: 230px;
    background-size: cover;

    /* display: flex;
    justify-content: space-around; */
  }

  .modernChild {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: start; */
    /* justify-content: center; */
    gap: 20px;
  }

  .modernChild .modernChildImg {
    width: 20%;
    height: 19%;
    border: 3px solid white;
    /* background-image: url(".././src/assets/Mani shop/kutchild.png"); */
    /* background-size: cover; */
    padding: 28px;

    border-radius: 50px;
  }

  /* .modernKids .modernKidsImg {
    height: 350px;
  } */
  .mod .collection {
    margin: 0px 45px 20px;
  }

  .collection h1 {
    font-size: 2rem;
    margin: 20px 0px;
  }

  .collection .paraHide {
    display: none;
  }

  .modernButtons {
    display: flex;
  }

  .collection .modernButtons .learnMoremodern {
    padding: 8px 20px;
    border: none;
    font-size: medium;
  }





  /* ------------------------------Luxury Collection-------------------------- */
  .luxury {
    display: flex;
    flex-direction: column;
  }

  .luxury .samudrika {
    width: 100%;
    /* display: flex; */
    /* height: 400px; */
    /* position: unset; */
  }

  .samudrika .samudrikaImg {
    width: 100%;
    /* width: 770px; */
    height: 385px;
    /* height: 100%; */
    border-radius: 20px;

    /* background-image: url("../src/assets/Mani shop/samu.jpeg");
    background-size: cover; */

  }


  .silkDiv {
    /* position: absolute; */
    /* position: -ms-page; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: -60px; */
    /* justify-content: end; */
    width: 350px;
    /* width: 100%; */
  }

  .silkDiv .silk {
    /* width: 100%; */
    margin: auto;
  }

  .silk .silkImg1 {
    width: 100%;
  }

  .silk .silkImg2 {
    /* height: 300px; */
    background-size: contain;
    width: 84%;
    margin: auto;
    /* background-color:; */
    /* margin: 0% 10%; */
    /* margin-left: -10%; */
    /* background-color: aqua; */
  }

  /*------------------------------------- Discount ------------------------*/

  .discount {
    width: 100%;
  }

  .disContainer {
    display: flex;
    flex-direction: column;
  }

  .discountBody {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .discountImg .discountImg1 {
    width: 100%;
    height: 390px;
    position: unset;
  }

  .discountImg .discountImage {
    display: none;
  }

  .discountCon {
    display: flex;
    align-items: center;
    margin-left: 0px;

    align-content: center;
    flex-direction: column;
  }

  .discountCon button {
    /* width: 20px; */
    /* padding: ; */
    display: inline-flex;
  }

  .dates {
    margin: auto;
  }

  .bi-list {
    padding: 10px;
    margin-right: 4px;
    border-radius: 10px;
    background-color: aquamarine;
    font-size: 2rem;
  }

  .cont .nav {
    display: none;
  }

  .cont {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    /* margin: auto; */
    /* gap: 10px; */
    justify-content: space-between;
  }

  .cont .list {
    margin-right: 10px;
  }

  .cont img {
    /* background-color: black; */
    margin-left: -20px;
    /* margin: -20px; */
    /* margin-left: 90px; */
  }

  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5;
    --font-size-xxl: 1.8rem;

  }

  .line {
    display: none;
  }

  .cont :where(#menu-close-button, #menu-open-button) {
    font-size: var(--font-size-l);
  }

  .cont #menu-close-button {
    position: absolute;
    right: 30px;
    top: 30px;
  }

  .cont #menu-open-button {
    display: block;
    color: rgb(75, 12, 12);
    z-index: 105;
    border: none;
  }

  .cont .nav {
    display: block;
    position: fixed;
    left: -300px;
    top: 0;
    width: 300px;
    height: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: white;
    /* transition: left 0.2 ease; */
    transition: left 0.8s ease;
  }

  body.show-mobile-menu .cont .nav {
    left: 0;
  }

  .cont .nav .nav-link {
    color: black;
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-l);
  }

  .headerImg {
    display: none;
  }

  .bodyContent {
    width: 100%;
    margin: 30% 0px;
  }

  .bodyContent .borderSilk {
    font-size: 2.3rem;
    font-weight: 700;
    /* line-height: 80px; */
    border-bottom: 1px solid white;
  }

  .bodyContent h1 {
    font-size: 2.7rem;
    margin-top: 5%;
    font-weight: 700;
    padding-bottom: 8%;
    border-bottom: 2px solid white;
  }

  .bodyContent h6 {
    color: silver;
  }

  .bodyContent p {
    margin-top: 5%;
    font-size: medium;
    color: aliceblue;
  }

  .aboveSilk {
    font-size: smaller;
    display: flex;
    gap: 10px;
    color: rgb(199, 195, 195);
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
  }

  .silkBtn {
    display: inline;
    /* justify-content: center; */
  }

  .silkBtn .learnMoremodern {
    padding: 8px 20px;
    border: none;
    font-size: medium;
  }

  .silkBtn h2 {
    margin: 10px 0px;
    font-size: medium;
  }

  .body {
    height: 100%;
    background-image: url('../src/assets/Mani shop/background-B-\ Copy.jpg');
    background-size: cover;
  }

  .bodyImages {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .imgBox {
    margin: 20px auto;
  }

  .imgHover {
    width: 100%;
    /* margin: auto ; */
    /* border-radius: 5px;
    height: 650px;
    padding: 0px 20px; */
    /* border: 2px solid; */
  }

  .star h5 {
    font-size: large;
  }

  /* 
  .stars {
    color: #f5b50a;
    display: contents;
    justify-content: space-between;
  } */

  .stars li i {
    color: #f5b50a;
    /* gold */
    font-size: 15px;
    margin: 0 2px;
  }

  .fa-star {
    margin: -10px;
    font-size: large;
  }

  .learnMore {
    margin-right: 0px;
  }

  .fastCart {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 20px;
    /* width: 100%; */
    /* align-items: center;
  justify-content: center; */
    /* border: 1px solid; */
  }

  .cart {}

  .cart:nth-child(n+5) {
    display: none;
  }

  .cart:nth-child(1) {
    border-right: none;
    height: 300px;
    padding: 20px;
    /* display: none; */
  }

  .cart1 {
    border-right: none;
  }

  .cart:nth-child(2) {
    border-right: none;
    height: 300px;
    padding: 20px;
    /* display: none; */
  }

  .cart:nth-child(3) {
    border-right: none;
    /* display: none; */
    height: 300px;
    padding: 20px;
  }

  .cart1:nth-child(4) {
    height: 300px;
    /* align-items: ce; */
    padding: 20px;
    border-right: none;

    /* display: none; */
  }

  .cartSide {
    position: relative;
    display: inline;

  }

  .cartSide::after {
    content: "";
    width: 1px;
    height: 88%;
    position: absolute;
    background-color: silver;
    top: 20px;
    margin-left: 10px;
    right: 0;

  }
}